[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "intervalpsych"]
	path = intervalpsych
	url = https://github.com/matthiaskloft/intervalpsych
